@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(./modal.css);
@import url(./button.css);
@import url(./profile.css);
@import url(./text.css);
@import url(./container.css);
@import url(./header.css);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  background: #151515;
  color: #fff;
  font-family: "Inter", serif;
}

main {
  position: relative;
}